---
title: Stroked to Be Here - Home
layout: layouts/base.njk
---

<section class="hero">
    <div class="block">
        <div class="text">
        <h2>On June 9th, 2020, 26-year-old Ella Jane Ferguson suffered a hemorrhagic stroke, leaving her in a coma and near death.</h2>
        <p>Dramatic medical intervention saved her life but left her paralyzed on the left side of her body.</p>
        <p>Even though the recovery journey has been long and hard, Ella has made remarkable progress.
        </p>
        <p>But four years later, she still needs our help.</p>
        <a href="" target="_blank">Will you join us?</a>
        <div class="buttons">
            <a href="https://venmo.com/Ella-Ferguson" class="button" target="_blank">Donate via Venmo</a>
            <a href="https://instagram.com/strokedtobehere" class="button" target="_blank">Follow on Instagram</a>
        </div>
    </div>
    <div class="image">
        <img src="/images/ellie-head-scar.jpeg" alt="Ella Ferguson sleeping in the hospital with a shaved head and open wound from the surgery to stop her hemorrhagic stroke." />
    </div>
</section>