---
title: Stroked to Be Here - Home
layout: layouts/base.njk
---

<section class="hero">
    <div class="block">
        <div class="text">
        <h2>Welcome to Stroked to Be Here</h2>
        <p>A space dedicated to Ella Ferguson’s journey of recovery, creativity, and resilience.</p>
        <div class="buttons">
            <a href="https://venmo.com/Ella-Ferguson" class="button" target="_blank">Donate via Venmo</a>
            <a href="https://instagram.com/strokedtobehere" class="button" target="_blank">Follow on Instagram</a>
        </div>
        </div>
        <div class="image">
            <img src="/images/ella_headshot.jpg" alt="Ella Ferguson smiling" />
    </div>
</section>