---
title: Support Ella
layout: layouts/base.njk
---
<section class="support">
    <h2>Support Ella</h2>
    <p>Your support can make a huge difference in Ella's recovery journey.</p>
    <a href="https://www.gofundme.com/f/ella-fergusons-recovery" class="button">Donate Now</a>
</section>